.hashadchan-login-form {
    max-width: 400px;
    margin: auto;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .error-message {
    color: #dc3545;
    margin-top: 5px;
  }
  
  .btn-primary {
    background-color: #b5125e;
    border-color: #b5125e;
    color: #fff;
  }
  
  .btn-primary:hover {
    background-color: #b5125e;
    border-color: #b5125e;
  }
  
  .lecture-button {
    margin-bottom: 10px;
  }  